/vendor
/node_modules
/public/build
/public/hot
/public/storage
/public/uploads
/public/s
/public/__MACOSX
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
Thumbs.db

# Database dumps / SQL exports
*.sql
*.sqlite

# Temporary / Draft files
draft web uyt.pdf
note.txt
/tmp
/uploads
/file
